# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Data & Uploads
data/*.db
uploads/*
!uploads/.gitkeep
!data/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
